{% extends 'w3desAdminBundle::layout.html.twig' %}
{% trans_default_domain "admin" %}
{% block page_title %}
Newsletter - treści
{% endblock %}
{% block content %}
<h1>
    {{ block('page_title') }}
</h1>
<p>
    <a href="{{ url('admin.newsletter.content.add') }}"><img src="{{ asset('bundles/w3desadmin/images/ico/16/add.png') }}" /> Dodaj</a>
    
    <div id="grid"></div>
</p>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(function() {
    $('#grid').jsGrid({
        width: '100%',
        filtering: true,
        sorting: true,
        paging: true,
        editing: true,
        autoload: true,
        deleteConfirm: function(item) {
            return "Czy na pewno chcesz to zrobić?";
        },
        onItemEditing : function(args) {
            window.location = '{{url("admin.newsletter.content.edit", { id : '@id@' })|raw}}'.replace(/@id@/g, args.item.id);
            args.cancel = true;
        },
        onItemDeleted : function(args) {
            window.location = '{{url("admin.newsletter.content.remove", { id : '@id@' })|raw}}'.replace(/@id@/g, args.item.id);
            args.cancel = true;
        },
        pageLoading: true,
        controller : {
            loadData : function(filter) {
                var d = jQuery.Deferred();
                $.ajax({
                    url : '{{url("admin.newsletter.contents.json")}}',
                    dataType : 'json',
                    data : filter
                }).done(function(response) {
                    d.resolve(response);
                });

                return d.promise();
            }
        },
        fields : [
            {name: 'title', title: 'Tytuł'},
            {name: 'createdAt', title: 'Data dodania'},
            {name: 'sendAt', title: 'Data wysyłki'},
            {type : 'control'}
        ]
    });
});

</script>
{% endblock %}