{% extends 'w3desAdminBundle::layout.html.twig' %}
{% trans_default_domain "admin" %}
{% block page_title %}
Historia pobrań
{% endblock %}
{% block content %}
<h1>
    {{ block('page_title') }}
</h1>
<!--  p>
    <a href="{{ url('admin.page_users.add') }}"><img src="{{ asset('bundles/w3desadmin/images/ico/16/add.png') }}" /> Dodaj</a>
</p-->
<div id="grid"></div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(function() {
    $('#grid').jsGrid({
        width: '100%',
        filtering: true,
        sorting: true,
        paging: true,
        editing: false,
        deleting : false,
        autoload: true,
        deleteConfirm: function(item) {
            return "Czy na pewno chcesz to zrobić?";
        },{#
        onItemEditing : function(args) {
            window.location = '{{url("admin.downloads.edit", {  id : '@id@' })|raw}}'.replace(/@id@/g, args.item.id);
            args.cancel = true;
        },
        onItemEditing : function(args) {
            window.location = '{{url("admin.downloads.edit", { id : '@id@' })|raw}}'.replace(/@id@/g, args.item.id);
            args.cancel = true;
        },
        onItemDeleted : function(args) {
            window.location = '{{url("admin.downloads.remove", { id : '@id@' })|raw}}'.replace(/@id@/g, args.item.id);
            args.cancel = true;
        },#}
        pageLoading: true,
        controller : {
            loadData : function(filter) {
                var d = jQuery.Deferred();
                $.ajax({
                    url : '{{url("admin.downloads.json")}}',
                    dataType : 'json',
                    data : filter
                }).done(function(response) {
                    d.resolve(response);
                });

                return d.promise();
            }
        },
        fields : [
            {name : 'createdAt',title: 'pobrano', 'type' : 'date'},
            {name : 'email',title: 'email', 'type' : 'text'},
            {name : 'phone',title: 'telefon', 'type' : 'text'},
            {name : 'firstName',title: 'imię', 'type' : 'text'},
            {name : 'lastName',title: 'nazwisko', 'type' : 'text'},
            {name : 'node',title: 'plik', 'type' : 'html'},
        ]
    });
});

</script>
{% endblock %}