{% extends '::base.html.twig' %}
{% block title %}{{ node|variable('meta_title')|default(node|variable('title')) }}{%endblock%}
{% block body %}
{% set content_modules = node|section('content')  %}
{% set description_module = false %}

{% if content_modules|length > 0 and content_modules|first.type == 'w3des\\AdminBundle\\NodeModule\\ContentModule'  %}
	{% set description_module = content_modules|first %}
{% endif %}
<div class="product-description">
	<div class="wrap">
		{%if node|variable('photo') %}
			<div class="photo">
				<img src="{{ asset(_upload~ node|variable('photo').path) }}" alt="{{ node|variable('title') }}" loading="lazy" />
			</div>
		{% endif %}
		<div class="content">
			<div class="title-wrap"><h1><span>{{ node|variable('title') }}</span></h1></div>
			{% if description_module %}
				{{ description_module|render_module }}
			{% endif %}
		</div>
	</div>
</div>
<div class="product-content">
	{% for m in node|section('content') %}
		{% if not loop.first or (loop.first and not description_module) %}
			{{ m|render_module }}
		{% endif %}
	{% endfor %}
	<div class="back-wrap"><a href="javascript:history.go(-1)"><i></i> wróć do kategorii</a></div>
</div>
{% endblock %}
{% block top %}
{% set path = knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('app.menu')) %}
{#}
{% set path = path|merge([{label : node|variable('title'), node : node}]) %}
#}
{% include '::breadcrumbs.html.twig' with {node: node, path : path} only %}
{% for m in node|section('top') %}
{{ m|render_module }}
{% else %}
{%  include '::slider.html.twig'%}
{% endfor %}
{% endblock %}
{% block meta_keywords %}{{ node|variable('meta_keywords')|default('') }}{% endblock %}
{% block meta_description %}{{ node|variable('meta_description')|default('') }}{% endblock %}
{%block body_class %}header-shadow{% endblock %}
{% block schema_json %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{ node|variable('title')|e('js') }}",
  "description": "{{ node|variable('meta_description')|default(node|variable('title'))|e('js') }}",
  "url": "{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ app.request.pathInfo }}",
  "brand": {
    "@type": "Brand",
    "name": "WoodConnect"
  }{% if node|variable('photo') %},
  "image": "{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset(_upload ~ node|variable('photo').path) }}"{% endif %},
  "offers": {
    "@type": "Offer",
    "priceCurrency": "PLN",
    "availability": "https://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "WoodConnect"
    }
  }
}
</script>
{% endblock %}