<div class="wrap">
<h2>Siedziba firmy</h2>
<div class="map" data-key="{{ sett('googlemap_key') }}" id="map{{ mod.id }}" data-lng="{{ mod|variable('lng') }}" data-lat="{{ mod|variable('lat') }}" data-content="{{ mod|variable('content')|nl2br|e }}"></div>
    </div>